<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=ebd9bb760b5874a2c5a1da5279ec782c&libraries=services,clusterer,drawing"></script>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=ebd9bb760b5874a2c5a1da5279ec782c"></script>
    <!-- <script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyBlDEkdnonP6PDC5iPw3sXZaxF-WsYIHr8&sensor=false"></script> -->
</head>
<body>
    <input class="address" type="text" value="도시를 입력해주세요"></input>
    <div id="map"></div>
</body>

</html>
