<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <!-- <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=ebd9bb760b5874a2c5a1da5279ec782c&libraries=services,clusterer,drawing"></script> -->
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=ebd9bb760b5874a2c5a1da5279ec782c"></script>
</head>
<body>
    <div id="map" style="width:500px;height:400px;"></div>
</body>

</html>
