// Apply a natural box layout model to all elements
// but allowing components to change
// http://www.paulirish.com/2012/box-sizing-border-box-ftw/
html, body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
*, *:before, *:after {
    box-sizing: inherit;
}

header {
    grid-area: header;
    height: 130px;
    background-color: rgb(18, 18, 19);
}

footer {
    background-color: black;
    height: 80px;
}

.title {
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    font-weight: 800;
    padding-left: 30px;
    padding-top: 20px;
    color: rgb(246, 247, 231);
}

.subTitle {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    font-weight: 100;
    padding-left: 30px;
    padding-top: 5px;
    font-style: italic;
    color: #f6f7e7;
}

.main {
    grid-area: main;
}

.results {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    grid-gap: 10px;
    margin-top: 200px;
    width: 100%;
    background-color: rgb(255, 251, 246);
    .event {
        font-family: 'Noto Sans KR', sans-serif;
        width: 500px;
        padding-top: 30px;
        padding-bottom: 30px;
        margin: 10px;
    }
}

.hostImg {
    width: 50px;
    height: 50px;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
}

.search {
    //height: 0;
    //background-color: #1f1f21;
    display: none;
    flex-direction: column;
    align-items: center;
    input {
        text-align: center;
        width: 100%;
        height: 40px;
        margin-bottom: 20px;
    }
}

.mapSearch {
    height: 500px;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    font-weight: 800;
    padding-left: 30px;
    padding-top: 150px;
    color: white;
    background-image: url(https://images.unsplash.com/photo-1517456793572-1d8efd6dc135?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
    background-position-y: center;
    filter: grayscale(50%);
}

.mapSearchButton {
    position: relative;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    font-weight: 600;
    width: 150px;
    left: 600px;
    top: -250px;
    cursor: pointer;
    color: #f6f7e7;
    padding-bottom: 5px;
    background-color: rgba(0,0,0,0.8);
}


// input {
//     height: 40px;
//     margin-bottom: 20px;
//     //border: none;
// }
.meetingImg {
    width: 500px;
    height: 300px;
}

.imgWrapper {
    position: relative;
    text-align: center;
    height: 320px;
}

.rsvp{
    position: relative;
    color: #fdfbee;
    top: -120px;
    left: 350px;
    font-size: 17px;
    background-color: rgba(0, 0, 0, 0.8);
    width: 150px;
    height: 25px;
}

.hostWrapper {
    display: inline-block;
    width : 200px;
    padding-left: 30px;
}

.contentWrapper {
    display: inline-block;
    width : 300px;

    .eventName {
        font-weight: bold;
    }
    .eventDate {
        font-size: 15px;
        font-weight: 600;
    }
    .eventName, .eventDate, .groupName {
        padding-bottom: 3px;
    }
}

.markIcon {
    position: relative;
    font-size: 45px;
    top: -300px;
    left: 220px;
    color: rgba(230, 225, 202, 0.8);
}

.markIcon :hover {
    cursor: pointer;
}

.marked {
    color: rgb(228, 216, 107);
}

.bookmarks {
    margin: 15px;
    padding-left: 20px;
    padding-right: 20px;
}

.bookmarkMenu {
    padding-top: 50px;
    .bookmarkShowButton, .bookmarkText {
        font-family: 'Oswald', sans-serif;
        display: inline-block;
        font-size: 25px;
        font-weight: 600;
        margin-left: 10px;
    }

    .bookmarkShowButton {
        font-size: 25px;
        font-weight: 700;
        cursor: pointer;
    }
}

.bookmarkListWrapper {
    display: none;
}

.visible {
    display: block;
}

.bookmarkList {
    display: flex;
    overflow-x: scroll;
    width: 1200px;
    margin-top: 20px;
    overflow: hidden;
}

.active {
    cursor: grabbing;
}

.bookmarkListWrapper {
    height: 300px;
    margin-top: 30px;

    .savedText {
        margin-left: 10px;
        font-family: 'Oswald', sans-serif;
        font-size: 23px;
        font-weight: 600;
    }
}

.chosenEventImg {
    width: 200px;
    height: 120px;
    border-radius: 6px;
}
.chosenEventTitle {
    text-align: center;
    color: rgb(78, 76, 76);
    padding-top: 25px;
    padding-left: 3px;
    font-family: 'Mukta', sans-serif;
    font-size: 16px;
    font-weight: 600;
}
.chosenEvent {
    margin: 20px;
    height: 320px;
    width: 280px;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 1px 1px 10px 2px #e9e8e8;
}
.deleteIcon {
    font-size: 17px;
    position: relative;
    left: 190px;
    top: -10px;
    width: 20px;
    cursor: pointer;
}

