// Apply a natural box layout model to all elements
// but allowing components to change
// http://www.paulirish.com/2012/box-sizing-border-box-ftw/
html, body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*, *:before, *:after {
    box-sizing: inherit;
}

header {
    grid-area: header;
    height: 130px;
    background-color: rgb(18, 18, 19);
}

footer {
    background-color: black;
    height: 80px;
}

.title {
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    font-weight: 800;
    padding-left: 30px;
    padding-top: 22px;
    color: rgb(246, 247, 231);
}

.subTitle {
    font-family: 'Exo', sans-serif;
    font-size: 18px;
    font-weight: 100;
    font-style: italic;
    padding-left: 30px;
    padding-top: 5px;
    color: #f6f7e7;
}

.main {
    grid-area: main;
}

.results {
    cursor: pointer;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    grid-gap: 10px;
    margin-top: 120px;
    padding-top: 120px;
    padding-bottom: 120px;
    width: 100%;
    background-color: rgba(250, 240, 225, 0.8);

    .event {
        font-family: 'Noto Sans KR', sans-serif;
        width: 500px;
        height: 530px;
        padding-top: 30px;
        padding-bottom: 10px;
        margin: 10px;
        background-color: #fff9f9;
    }
}

.hostImg {
    width: 50px;
    height: 50px;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
}

.search {
    display: none;
    flex-direction: column;
    align-items: center;

    input {
        font-family: 'Noto Sans KR', sans-serif;
        font-weight: 700;
        font-size: 17px;
        text-align: center;
        color: white;
        border: none;
        background-color: rgb(9, 6, 26);
        width: 100%;
        height: 50px;
        padding: 10px;
    }
}

.mapSearch {
    height: 500px;
    margin-top: 40px;
    text-align: center;
    padding-left: 30px;
    padding-top: 150px;
    background-image: url(https://images.unsplash.com/photo-1517456793572-1d8efd6dc135?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
    background-position-y: center;
    filter: grayscale(10%);
}

.mapSearch > .mapSearchText {
    color: rgb(250, 247, 233);
    font-family: 'Exo', sans-serif;
    font-size: 45px;
    font-weight: 800;
}

.mapSearchButton {
    cursor: pointer;
    position: relative;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    font-weight: 600;
    width: 150px;
    left: 600px;
    top: -250px;
    padding-bottom: 5px;
    color: #f6f7e7;
    background-color: rgba(0,0,0,0.8);
}

.meetingImg {
    width: 500px;
    height: 300px;
}

.imgWrapper {
    position: relative;
    text-align: center;
    height: 320px;
}

.rsvp{
    position: relative;
    top: -120px;
    left: 350px;
    width: 150px;
    height: 25px;
    font-size: 17px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}

.hostWrapper {
    display: inline-block;
    width : 200px;
    padding-left: 30px;
}

.contentWrapper {
    display: inline-block;
    width : 300px;
    padding-right: 15px;

    .eventName {
        font-weight: bold;
    }
    .eventName, .eventDate, .groupName {
        padding-bottom: 3px;
    }
    .eventDate {
        font-size: 15px;
        font-weight: 600;
        margin-bottom: 10px;
    }
    .eventLink {
        font-family: 'Oswald', sans-serif;
        font-size: 12px;
        text-decoration: none;
        margin-top: 30px;
        margin-right: -20px;
        border: 0.5px solid;
        padding: 1px 20px;
        color: gray;
    }
}

.markIcon {
    position: relative;
    font-size: 45px;
    top: -300px;
    left: 220px;
    color: rgba(129, 129, 127, 0.7);
}

.markIcon :hover {
    cursor: pointer;
}

.marked {
    color: rgb(211, 176, 20);
}

.bookmarks {
    margin: 15px;
    padding-left: 20px;
    padding-right: 20px;
}

.bookmarkMenu {
    padding-top: 50px;

    .bookmarkShowButton, .bookmarkText {
        display: inline-block;
        margin-left: 10px;
        font-family: 'Oswald', sans-serif;
        font-size: 25px;
        font-weight: 600;
    }

    .bookmarkShowButton {
        cursor: pointer;
        font-size: 25px;
        font-weight: 700;
    }
}

.bookmarkListWrapper {
    display: none;
}

.visible {
    display: block;
}

.bookmarkList {
    display: flex;
    width: 1200px;
    margin-top: 20px;
    overflow-x: scroll;
    overflow: hidden;
}

.active {
    cursor: grabbing;
}

.bookmarkListWrapper {
    height: 300px;
    margin-top: 30px;

    .savedText {
        margin-left: 10px;
        font-family: 'Oswald', sans-serif;
        font-size: 23px;
        font-weight: 600;
    }
}

.chosenEventImg {
    width: 200px;
    height: 120px;
    border-radius: 6px;
}

.chosenEventTitle {
    text-align: center;
    color: rgb(78, 76, 76);
    padding-top: 25px;
    padding-left: 3px;
    padding-bottom: 15px;
    font-family: 'Mukta', sans-serif;
    font-size: 16px;
    font-weight: 600;
}

.chosenEvent {
    margin: 20px;
    height: 320px;
    width: 280px;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 1px 1px 10px 2px #e9e8e8;
}

.chosenEventUrl {
    text-align: center;
    width: 190px;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    font-size: 12px;
    margin-top: 60px;
    margin-left: 5px;
    border: 0.5px solid;
    padding: 1px 10px;
    padding-bottom: 5px;
    color: gray;
}

.deleteIcon {
    position: relative;
    left: 190px;
    top: -10px;
    width: 20px;
    font-size: 17px;
    cursor: pointer;
}

.loader {
    display: inline-block;
    width: 120px;
    height: 120px;
    border: 16px solid rgb(252, 235, 214);
    border-top: 16px solid rgb(240, 176, 74);
    border-radius: 50%;
    animation: spin 2s linear infinite;

    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
}


.loadingPage {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    z-index: 10;
    align-items: center;
    justify-content: center;
}
